.console_log{
    text-align: left;
    height: 120px;
    overflow: auto;
    color: lime;
    background: black;
    font-size: small;
    padding-left: 10px;
    white-space: pre-wrap;
    margin: 10px 0 10px 0;
}

.pvsio, .sapere {
    margin-top: 10px;
    margin-bottom: 10px;
    border: steelblue;
    border-style: solid;
}

.dbg {
    background-color: black;
    overflow: auto;
}

body{
    font-family: 'Andale Mono', AndaleMono, monospace;
}

#sapere_controls{
    margin: 10px 0 10px 0;
}

#sapere_dbg{
    margin: 10px 0 10px 0;
}


/* Added CSS */
div.version {
    text-align: center;
}


/* First dashboard */
div.dashboard-container {
    background-image: url(/demos/car/img/mercedes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 520px;
    margin-bottom: 50px;
}

div#control-panel-container {
    background-color: #2b2d33;
    color: white;
    padding: 0;
    width: 230px;
    position: relative;
    top: 265px;
    left: 32px;
    height: 210px;
}

#speedometer-gauge {
    position: relative;
    top: 160px;
    left: 13px;
}

#tachometer-gauge {
    position:relative;
    top: 160px;
    left: 50px;
}


/* Dashboard 2 */
div#dashboard-container-2 {
    background-image: url(/demos/car/img/dash2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 600px;
    background-position: center;
    margin-bottom: 50px;
}

#tachometer-gauge-2 {
    position:relative;
    top: 246px;
    left: 654px;
}

/* Dashboard 3 */
div#dashboard-container-3 {
    background-image: url(/demos/car/img/dash3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 565px;
    background-position: bottom;
    margin-bottom: 50px;
}

#water-temp-gauge-3 {
    position:relative;
    top: 91px;
    left: 7px;
}

#tachometer-gauge-3 {
    position: relative;
    top: 118px;
    left: -65px;
    z-index: 2;
}

#turbo-gauge-3 {
    position:relative;
    top: 74px;
    left: -126px;
}

#egt-gauge-3 {
    position:relative;
    top: 405px;
    left: -280px;
}

#speedometer-gauge-3 {
    position: relative;
    top: 118px;
    left: -345px;
    z-index: 2;
}

#air-temp-gauge-3 {
    position: relative;
    top: 91px;
    left: -420px;
}

/* Dashboard 4 */
div#dashboard-container-4 {
    background-image: url(/demos/car/img/dash4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 600px;
    background-position: center;
}

#remaining-fuel-gauge-4 {
    position:relative;
    top: 290px;
    left: 89px;
}

#speedometer-gauge-4 {
    position: relative;
    top: 148px;
    left: 82px;
}

#tachometer-gauge-4 {
    position: relative;
    top: 140px;
    left: 95px;
}

#oil-temp-gauge-4 {
    position: relative;
    top: 268px;
    left: 94px;
}
